
@model IEnumerable<JavaScriptChallenge.Models.LeaderboardViewModel>

@{
    ViewBag.Title = "Leaders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Scores for Problem @ViewBag.ProblemNumber</h2>
<div>See Scores for Specific Problems or <a href="/Leaderboard/OverallScores">Overall Scores</a></div>

<ul class="pagination">
    @foreach (int probNumber in ViewBag.AvailableProblems)
    {
        <li><a href="@probNumber">@probNumber</a></li>
    }
</ul>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeToSolve)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FailedAttempts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedSolution)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeToSolve)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FailedAttempts)
        </td>
        <td>
            @Html.TextAreaFor(modelItem => item.SubmittedSolution, new  { @class = "score-solution", @readonly = true })
        </td>
    </tr>
}

</table>
