@model IEnumerable<JavaScriptChallenge.Models.ProblemViewModel>

<div class="jumbotron">
    <h1>Problems</h1>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProblemNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProblemTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unlocked)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProblemNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProblemTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unlocked)
                    @if (item.Unlocked)
                    {
                        if (item.Solved)
                        {
                             @Html.ActionLink("View Your Solution", "SolvedProblem", "Home", new { id = item.ProblemNumber }, null)
                        }
                        else
                        {
                            @Html.ActionLink("Start Problem", "Problem", "Home", new { id = item.ProblemNumber }, null)
                        }
                    }
                </td>







            </tr>
        }

    </table>
</div>
